#picklecode {
    position: relative;
    width: 50%;
    height: 20em;
    border: 1px solid black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.outerror {
    color: red;
}

/* Ace Marker colors */
.error {
    background: red;
}

.comment {
    background: gray;
}

.space {
    background: #9BF;
}

.eol {
    background: pink;
}

.symbol {
    background: magenta;
}

.string {
    background: green;
}

.operator {
    background: blue;
}

.paren {
    background: yellow;
}