#picklecode {
    position: relative;
    width: 50%;
    height: 20em;
    border: 1px solid black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.outerror {
    color: red;
}

.debug {
    color: green;
}

.debug::before {
    display: inline;
    margin-right: 2ch;
    color: white;
    background: green;
    content: "DEBUG";
}